Django==6.0.4
djangorestframework==3.17.1
djangorestframework_simplejwt==5.5.1
django-cors-headers==4.9.0
requests==2.33.1
dj-database-url==2.3.0
psycopg2-binary==2.9.12
pymysql==1.2.0
whitenoise==6.9.0
pypdf==6.7.2
